<!-- Footer -->
<div id="footer">
	<div class="container">
		<div class="row">
			<section class="3u 6u(narrower) 12u$(mobilep)">
				<h3>La Villa Paris - Tel/Phone : +33673623845</h3>
				<ul class="links">
					<li>
						<a href="javascript:changeLang('fr');" id="french"><img src="/images/fr.png"
								alt="français" /></a>
						<a href="javascript:changeLang('en');" id="english"><img src="/images/us.png"
								alt="english" /></a>
						<a href="javascript:changeLang('de');" id="german"><img src="/images/de.jpg"
								alt="deutsch" /></a>
						<a href="javascript:changeLang('es');" id="espanol"><img src="/images/es.jpg"
								alt="espanol" /></a>
						<a href="javascript:changeLang('cn');" id="chinese"><img src="/images/cn.jpg"
								alt="chinese" /></a>
					</li>
					<li><a href="/chambres" data-localize="chambres">Chambres</a></li>
					<li><a href="/photos">Photos</a></li>
					{% if page.layout != 'reservation' %}<li><a href="/reservation"
							data-localize="reservation">Réservation</a></li>{% endif %}
				</ul>
			</section>
			<section class="3u 6u$(narrower) 12u$(mobilep)">
				<h3>Pratique</h3>
				<ul class="links">
					<li><a href="//www.google.com/maps/place/La+Villa+Paris,+33+Rue+de+la+Fontaine+%C3%80+Mulard,+75013+Paris/@48.8581169,2.3438755,13z/data=!4m2!3m1!1s0x47e6719bdc0fd3cb:0xcf496f9acec824bd"
							data-localize="planparis" target="_blank">Plan de Paris</a></li>
					{% if page.layout != 'reservation' %}<li><a href="/reservation">Availability request (english)</a>
					</li>{% endif %}
					{% if page.layout != 'reservation' %}<li><a href="/reservation">Demande de réservation
							(français)</a></li>{% endif %}
					<li><a href="/legal">Legal</a></li>
					{% if page.layout != 'reservation' %}<li><a href="/reservation"><img width="200"
								src="/images/booking.jpg"
								alt="La Villa Paris - Bed and Breakfast in Paris - Better than a Hotel" /></a></li>
					<li>
						<a href='https://www.kayak.fr/Paris-Hotels-La-Villa-Paris.174573.ksp' target='_blank'><img
								height='150'
								src='https://content.r9cdn.net/seo-res/badges/v5/WHITE_MEDIUM_TRAVEL_AWARDS.png' /></a>
					</li>{%
					endif %}
				</ul>
			</section>
			<section class="6u 12u(narrower)">
				<h3>Contact</h3>
				<form method="post" netlify-honeypot="gender" netlify id="contact" action="/merci">
					<div class="row 50%">
						<div class="6u 12u(mobilep)">
							<input type="text" name="name" id="name" placeholder="Nom" data-localize="form.nom"
								required />
						</div>
						<div class="6u 12u(mobilep)">
							<input type="email" name="email" id="email" placeholder="Email" required />
						</div>
						<div class="6u 12u(mobilep)">
							<input type="text" name="phone" id="phone" placeholder="Phone (+ Country Code)" required />
						</div>
						<input type="text" name="username" id="username" placeholder="username" />
					</div>
					<div class="row 50%">
						<div class="12u">
							<textarea name="message" id="message" placeholder="Message" rows="5" required></textarea>
						</div>
					</div>
					<p class="gender">
						<input type="text" name="gender" id="gender" placeholder="gender" />
					</p>
					<div class="row 50%">
						<div class="12u">
							<ul class="actions">
								<li><input type="submit" class="button alt" value="Envoyer le Message"
										data-localize="form.envoyer" /></li>
							</ul>
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>

	<ul class="icons">
		<li><a href="//www.facebook.com/bedandbreakfast.lavillaparis" class="icon fa-facebook" target="_blank"><span
					class="label">Facebook</span></a></li>
	</ul>

	<!-- Copyright -->
	<div class="copyright">
		<ul class="menu">
			<li>&copy; 2024 La Villa Paris. All rights reserved</li>
			</li>
		</ul>
	</div>

</div>