<head>
	<title>La Villa Paris - Bed and Breakfast in Paris - Official Website</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Chambres d'hôtes à Paris , La Villa Paris , 4 chambres d hotes de luxe vous permettent de passer vos vacances dans un hôtel romantique, ou vous pouvez découvrir la vie parisienne." />
	<meta name="keywords" content="La Villa Paris, chambres d'hôtes de luxe à Paris" />
	<meta name="owner" content="owner">
	<meta name="author" content="La Villa Paris">
	<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	<link rel="preload" as="image" href="/images/banner-homepage.jpg" />
	<link href="/css/style.css" rel="stylesheet" />
	<noscript>
		<link href="/css/skel.css" />
		<link href="/css/style-wide.css" />
		<link href="/css/slick.css" />
		<link href="/css/slick-theme.css" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
	<style type="text/css">
		#username {
			display: none;
		}

		/*bot trap*/
	</style>
	<!-- Google tag (gtag.js) -->
	<script async src="//www.googletagmanager.com/gtag/js?id=G-DJWKTQZN30"></script>
	<script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-DJWKTQZN30'); </script>

</head>