


<!-- // TODO: Check if this is the right tag -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l; b[l] || (b[l] =
            function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
        e = o.createElement(i); r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-1784919-1'); ga('send', 'pageview');
</script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/skel-layers.min.js"></script>
<script src="/js/init.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/jquery.localize.js"></script> 
<script type="text/javascript">
    $("[data-localize]").localize("translation/localize");

    function changeLang(lang) {
        $("[data-localize]").localize("translation/localize", { language: lang });
    }
</script>

{% if page.layout == 'photos' %}
<script type="text/javascript">
	$( document ).ready(function() {
		var options = {
			slidesToShow: 3,
			dots: false,
			lazyLoad: 'progressive',
			responsive: [
			{
				breakpoint: 1024,
				settings: {
					arrows: false,
					centerMode: true,
					centerPadding: '40px',
					slidesToShow: 2
				}
			},
			{
				breakpoint: 768,
				settings: {
					arrows: false,
					centerMode: true,
					centerPadding: '40px',
					slidesToShow: 1
				}
			},
			{
				breakpoint: 480,
				settings: {
					arrows: false,
					centerMode: true,
					centerPadding: '40px',
					slidesToShow: 1
				}
			}
			]
		}
		$('.slideshow-la-villa-paris').slick(options);
		$('.slideshow-champs-elysees').slick(options);
		$('.slideshow-concorde').slick(options);
		$('.slideshow-bastille').slick(options);
		$('.slideshow-opera').slick(options);
		$('.slideshow-petit-opera').slick(options);
		$('.slideshow-certificats').slick(options);
	});
</script>
{% endif %}