---
layout: default
---
<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div class="row 200%">
            <div class="4u 12u(narrower)">
                <div id="sidebar">

                    <!-- Sidebar -->

                    <section>
                        <h3 data-localize="leschambres">Les Chambres</h3>
                        <p data-localize="chambresequipe">Toutes nos chambres sont équipées d une salle de bain privée
                            avec toilettes dans la chambre, de lits de grande taille et du contrôle individuel de la
                            température (climatisation et chauffage). Une bonne connexion WIFI est disponible dans toute
                            la maison et sur la terrasse.</p>
                        <footer>
                            <a href="/reservation" class="button" data-localize="book">Je Réserve</a>
                        </footer>
                    </section>

                </div>
            </div>
            <div class="8u  12u(narrower) important(narrower)">
                <div id="content">

                    <!-- Content -->

                    <article id="champs">
                        <header>
                            <h2 data-localize="chambrece">Chambre Champs Elysees</h2>
                            <p data-localize="chambreceprix">1er étage - de 160€ à 200€</p>
                        </header>

                        <span class="image featured"><img src="/images/chambres/chambre-champs-elysees-large.jpg"
                                alt="" /></span>

                        <p data-localize="chambrecedesc">Au premier étage, décoration dans une harmonie de beige, gris
                            et blanc, atmosphère relaxante et apaisante. Vous aimerez la grande salle de bain en marbre
                            avec sa baignoire-jacuzzi.</p>
                        <p><a href="/reservation" class="button" data-localize="book">Je Réserve</a></p>

                    </article>

                    <article id="concorde">
                        <header>
                            <h2 data-localize="chambreconcorde">Chambre Concorde</h2>
                            <p data-localize="chambreconcordeprix">1er étage - de 150€ à 180€</p>
                        </header>

                        <span class="image featured"><img src="/images/chambres/chambre-concorde-large.jpg"
                                alt="" /></span>

                        <p data-localize="chambreconcordedesc">Au premier étage, superbes moulures et corniches
                            associées à un papier peint au motif très contemporain pour une touche originale et
                            pétillante. Vous aimerez regarder la vie du quartier et de son square depuis son petit coin
                            salon. Communicante avec la chambre <em>Champs Elysées</em>.</p>
                        <p><a href="/reservation" class="button" data-localize="book">Je Réserve</a></p>
                    </article>

                    <article id="bastille">
                        <header>
                            <h2 data-localize="chambrebastille">Chambre Bastille</h2>
                            <p data-localize="chambrebastilleprix">1er étage - de 140€ à 180€</p>
                        </header>

                        <span class="image featured"><img src="/images/chambres/chambre-bastille-large.jpg"
                                alt="" /></span>

                        <p data-localize="chambrebastilledesc">Au premier étage, décoration dans une harmonie de beige,
                            gris et blanc très apaisante. Vous aimerez regarder la vie du quartier et de son square
                            depuis sa grande fenêtre.</p>
                        <p><a href="/reservation" class="button" data-localize="book">Je Réserve</a></p>
                    </article>

                    <article id="opera">
                        <header>
                            <h2 data-localize="chambreopera">Chambre Opera</h2>
                            <p data-localize="chambreoperaprix">Rez de chaussée - de 130€ à 170€</p>
                        </header>

                        <span class="image featured"><img src="/images/chambres/chambre-opera-large.jpg"
                                alt="" /></span>

                        <p data-localize="chambreoperadesc">Au rez de chaussée, très lumineuse, agrémentée de deux
                            fenêtres avec vue sur le square et la terrasse. Superbes moulures et corniches, décoration
                            dans une harmonie de couleur naturelle beige. Vous aimerez son ambiance relaxante et son
                            charme parisien.</p>
                        <p><a href="/reservation" class="button" data-localize="book">Je Réserve</a></p>
                    </article>

                    <article id="petiteopera">
                        <header>
                            <h2 data-localize="chambrepetitopera">Chambre Petit Opera</h2>
                            <p data-localize="chambrepetitoperaprix">Rez de chaussée - de 100€ à 140€</p>
                        </header>

                        <span class="image featured"><img src="/images/chambres/chambre-petitopera-large.jpg"
                                alt="" /></span>

                        <p data-localize="chambrepetitoperadesc">Petite chambre située au rez de chaussée, en face de la
                            chambre Opera. Confortable pour 1 personne, la chambre peut convenir pour 2 personnes si vos
                            valises ne sont pas trop grandes ou pour des courts séjours. Vous aimerez son accès direct
                            sur la terrasse.</p>
                        <p><a href="/reservation" class="button" data-localize="book">Je Réserve</a></p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>