---
layout: default
---
<!-- Banner -->
<section id="banner">
</section>

<header id="sitedesc">
    <h2>La Villa Paris: <em data-localize="description">5 belles chambres dans une maison de caractère des années
            1920</em></h2>
    <a href="/chambres" class="button" data-localize="voir">Voir les chambres</a>
</header>

<!-- Highlights -->
<section class="wrapper style1">
    <div class="container">
        <div class="row 200%">
            <section class="4u 12u(narrower)">
                <div class="box highlight">
                    <i class="icon major fa-location-arrow"></i>
                    <h3 data-localize="location">Localisation</h3>
                    <p data-localize="locationdesc">Nous sommes à 15/30 minutes des principaux monuments en métro ou
                        bus. L'accès depuis les gares et les aéroports est facile et rapide. Possibilité de parking
                        payant à 5 minutes de la maison</p>
                </div>
            </section>
            <section class="4u 12u(narrower)">
                <div class="box highlight">
                    <i class="icon major fa-asterisk"></i>
                    <h3 data-localize="luxe">Chambres de Luxe</h3>
                    <p data-localize="luxedesc">Toutes nos chambres sont équipées d une salle de bain privée avec
                        toilettes dans la chambre, de lits de grande taille et du contrôle individuel de la température
                        (climatisation et chauffage)</p>
                </div>
            </section>
            <section class="4u 12u(narrower)">
                <div class="box highlight">
                    <i class="icon major fa-leaf"></i>
                    <h3 data-localize="atmosphere">Atmosphere Calme et Reposante</h3>
                    <p data-localize="atmospheredesc">Situés dans la partie sud est de Paris (13ème arrondissement),
                        entre la butte aux cailles et la cite universitaire, notre quartier transmet son atmosphère de
                        village aux rues paisibles et verdurées</p>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- Gigantic Heading -->
<section class="wrapper style2">
    <div class="container">
        <header class="major">
            <h2 data-localize="dejeuner">Information Coronavirus (COVID 19)</h2>
            <p data-localize="dejeunerdesc">Dans le cadre de la pandémie de coronavirus (COVID-19), La Villa Paris
                applique actuellement des mesures sanitaires supplémentaires</p>
        </header>
    </div>
</section>

<!-- Posts -->
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="/chambres#champs" class="image left"><img src="/images/chambres/chambre-champs-elysees.jpg"
                            alt="" /></a>
                    <div class="inner">
                        <h3>Champs Elysees</h3>
                        <p data-localize="champselyseesdesc">Au premier étage, décoration dans une harmonie de beige,
                            gris et blanc, atmosphère relaxante et apaisante. </p>
                    </div>
                </div>
            </section>
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="/chambres#concorde" class="image left"><img src="/images/chambres/chambre-concorde.jpg"
                            alt="" /></a>
                    <div class="inner">
                        <h3>Concorde</h3>
                        <p data-localize="concordedesc">Au premier étage, superbes moulures et corniches associées à un
                            papier peint au motif très contemporain pour une touche originale et pétillante.</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="/chambres#bastille" class="image left"><img src="/images/chambres/chambre-bastille.jpg"
                            alt="" /></a>
                    <div class="inner">
                        <h3>Bastille</h3>
                        <p data-localize="bastilledesc">Au premier étage, décoration dans une harmonie de beige, gris et
                            blanc très apaisante. </p>
                    </div>
                </div>
            </section>
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="/chambres#opera" class="image left"><img src="/images/chambres/chambre-opera.jpg"
                            alt="" /></a>
                    <div class="inner">
                        <h3>Opera</h3>
                        <p data-localize="operadesc">Au rez de chaussée, très lumineuse, agrémentée de deux fenêtres
                            avec vue sur le square et la terrasse.</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="/chambres#petiteopera" class="image left"><img
                            src="/images/chambres/chambre-petitopera.jpg" alt="" /></a>
                    <div class="inner">
                        <h3>Petit Opera</h3>
                        <p data-localize="petitoperadesc">Petite chambre située au rez de chaussée, en face de la
                            chambre Opera. Confortable pour 1 personne. Accès direct sur la terrasse.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style3">
    <div class="container">
        <header>
            <h2 data-localize="lvpdesc">La Villa Paris vous offre un environnement de grand confort, un accueil
                chaleureux et personnalisé tout en respectant votre intimité.</h2><br /><br />
            <a href="/reservation" class="button" data-localize="book">Je Réserve</a>
        </header>
    </div>
</section>