---
layout: default
---
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->
            <header>
                <h2>Legal</h2>
            </header>

            <article>
                <p class="corpstexte">
                    <b>URL:</b> www.la-villa-paris.com<br>
                    <b>Entreprise, organisme: </b>Pourquoi pas - La Villa Paris<br>
                    <b>Siège social:</b> 33, rue de la Fontaine a Mulard - 75013 PARIS<br>
                    <b>Siret/Siren :</b> 491 560 561<br>
                    <b>Adresse :</b> 33, rue de la Fontaine a Mulard - 75013 PARIS<br>
                    <b>Tél: </b> + 33 (0)1 43 47 15 66 Fax: + 33 (0)1 45 89 73 78<br>
                    <b>Courriel:</b> <a href="mailto:contact@la-villa-paris.com">contact@la-villa-paris.com</a><br>
                    <br>
                    <b>Objet du site: </b>Présentation de la maison d'hôtes<br>
                    <b>Responsable légal:</b> Marie Francoise FUNKE - ALDON, Matthias Funke<br>
                    <b>Responsable éditorial:</b> Matthias FUNKE<br>
                    <b>Webmasters:</b>Matthias FUNKE, Nicolas FUNKE<br>
                    <b>Conception, édition, direction artistique :</b> Marie &amp; Nicolas &amp; Matthias FUNKE<br>
                    <b>Rédaction:</b> Marie &amp; Nicolas &amp; Matthias FUNKE <br>
                    <b>Illustration:</b> Marie &amp; Nicolas &amp; Matthias FUNKE<br>
                    <b>Photographies(non contractuelles) :</b> Michel Antraygues, Matthias Funke, &copy; Paris Tourist
                    Office - Photographe : Angélique Clément, Roseline Casal, Amélie Dupont, Marc Bertrand, David
                    Lefranc, Henri Garat<br>
                    <b>Hébergement:</b> OVH SAS, 2 rue Kellermann, 59100 ROUBAIX, France<br>Siret n°42476141900045 RCS
                    Lille Metropole B 424 761 419 : ovh.fr<br>
                    <br>
                    <b>Remerciements à:</b> Ideal Productions et specialement Maurice et Denis pour leur coaching du
                    jeune Webmaster ;-), Regine pour la traduction en allemand, Vero et Sarah pour la traduction en
                    anglais, Jean Francois, Olivier, Didier et Pascal pour leur soutien pour la realisation du
                    projet...(a suivre)<br>
                    <b>Mise en ligne du site : janvier 2007 </b> <br>
                    <br>
                    <b>Le site présente:</b><br>
                    * Contenu informatif<br>
                    * Collecte de coordonnées personnelles en ligne<br>
                    <br>
                    <br>
                    <b>Loi informatique et liberté</b><br>
                    Le site fait l'objet d'une déclaration auprès de la Commission Nationale Informatique et Liberté.
                    Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données
                    qui vous concernent (art. 34 de la loi "Informatique et Libertés").<br>
                    Pour l'exercer, adressez vous à <a
                        href="mailto:contact@la-villa-paris.com">contact@la-villa-paris.com</a><br>

                    <b>Propriété</b><br>
                    Le site et les informations qu'il contient sont protégés par la loi française sur la propriété
                    intellectuelle et par les conventions internationales. Le site (ou des éléments de son contenu) ne
                    peut être ni reproduit, ni republié, ni retranscrit, ni modifié, ni retransmis sans l'autorisation
                    préalable des ayants droits par écrit (cela ne concerne pas l'utilisation dans le cercle de famille
                    ni l'usage privé).<br>
                    <br>
                    Ce modèle de notice légale a été conçu par Idéal Productions. Son utilisation est soumise à
                    l'autorisation d'Idéal Productions conformément à la législation du code français de la propriété
                    intellectuelle. Toute copie doit être autorisée, doit porter mention de la propriété et afficher un
                    lien avec le site <a target="_blank" href="https://www.idealprod.fr/">www.idealprod.fr</a>.<br>
                </p>
            </article>

        </div>
    </div>
</section>