---
layout: default
---
{% assign lang = page.lang | default: 'fr' %}
{% assign i18n = site.data.i18n[lang] %}
<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div class="row 200%">
            <div class="12u 12u(narrower)">
                <div id="content">
                    <article id="merci">
                        <header>
                            <h2>{{ i18n.thankyou }}</h2>
                            <p>{{ i18n.thankyoumsg }}</p>
                        </header>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
