---
layout: default
---
<section class="wrapper style1" style="overflow:hidden;">
	<div class="container">
		<div id="content">

			<!-- Content -->

			<article>
				<header>
					<h2>La Villa Paris</h2>
					<p data-localize="overview">Vue d'Ensemble</p>
				</header>

				<div class="slideshow-la-villa-paris slideshow">
					<img data-lazy="/images/photogallery/la-villa-paris/image1.jpg" />
					<img data-lazy="/images/photogallery/la-villa-paris/image2.jpg" />
					<img data-lazy="/images/photogallery/la-villa-paris/image3.jpg" />
					<img data-lazy="/images/photogallery/la-villa-paris/image4.jpg" />
					<img data-lazy="/images/photogallery/la-villa-paris/image5.jpg" />
					<img data-lazy="/images/photogallery/la-villa-paris/image6.jpg" />
					<img data-lazy="/images/photogallery/la-villa-paris/image7.jpg" />
					<img data-lazy="/images/photogallery/la-villa-paris/image8.jpg" />
					<img data-lazy="/images/photogallery/la-villa-paris/image9.jpg" />
					<img data-lazy="/images/photogallery/la-villa-paris/image10.jpg" />
					<img data-lazy="/images/photogallery/la-villa-paris/image11.jpg" />
					<img data-lazy="/images/photogallery/la-villa-paris/image12.jpg" />
					<img data-lazy="/images/photogallery/la-villa-paris/image13.jpg" />
					<img data-lazy="/images/photogallery/la-villa-paris/image14.jpg" />
					<img data-lazy="/images/photogallery/la-villa-paris/image15.jpg" />

				</div>

			</article>
			<br /><br />



			<article>
				<header>
					<h2>Champs Elysees</h2>
					<p data-localize="chambreceprix">1er étage - à partir de 190 €</p>
				</header>

				<div class="slideshow-champs-elysees slideshow">
					<img data-lazy="/images/photogallery/champs-elysees/image1.jpg" />
					<img data-lazy="/images/photogallery/champs-elysees/image2.jpg" />
					<img data-lazy="/images/photogallery/champs-elysees/image3.jpg" />
					<img data-lazy="/images/photogallery/champs-elysees/image4.jpg" />
					<img data-lazy="/images/photogallery/champs-elysees/image5.jpg" />
					<img data-lazy="/images/photogallery/champs-elysees/image6.jpg" />
					<img data-lazy="/images/photogallery/champs-elysees/image7.jpg" />
					<img data-lazy="/images/photogallery/champs-elysees/image8.jpg" />
					<img data-lazy="/images/photogallery/champs-elysees/image9.jpg" />
					<img data-lazy="/images/photogallery/champs-elysees/image10.jpg" />
					<img data-lazy="/images/photogallery/champs-elysees/image11.jpg" />
					<img data-lazy="/images/photogallery/champs-elysees/image12.jpg" />
					<img data-lazy="/images/photogallery/champs-elysees/image13.jpg" />
					<img data-lazy="/images/photogallery/champs-elysees/image14.jpg" />
					<img data-lazy="/images/photogallery/champs-elysees/image15.jpg" />
				</div>

			</article>
			<br /><br />

			<article>
				<header>
					<h2>Concorde</h2>
					<p data-localize="chambreconcordeprix">1er étage - de 150€ à 180€</p>
				</header>

				<div class="slideshow-concorde slideshow">
					<img data-lazy="/images/photogallery/concorde/image1.jpg" />
					<img data-lazy="/images/photogallery/concorde/image2.jpg" />
					<img data-lazy="/images/photogallery/concorde/image3.jpg" />
					<img data-lazy="/images/photogallery/concorde/image4.jpg" />
					<img data-lazy="/images/photogallery/concorde/image5.jpg" />
					<img data-lazy="/images/photogallery/concorde/image6.jpg" />
					<img data-lazy="/images/photogallery/concorde/image7.jpg" />
					<img data-lazy="/images/photogallery/concorde/image8.jpg" />
					<img data-lazy="/images/photogallery/concorde/image9.jpg" />
					<img data-lazy="/images/photogallery/concorde/image10.jpg" />
					<img data-lazy="/images/photogallery/concorde/image11.jpg" />
					<img data-lazy="/images/photogallery/concorde/image12.jpg" />
					<img data-lazy="/images/photogallery/concorde/image13.jpg" />
					<img data-lazy="/images/photogallery/concorde/image14.jpg" />
					<img data-lazy="/images/photogallery/concorde/image15.jpg" />
				</div>

			</article>
			<br /><br />

			<article>
				<header>
					<h2>Bastille</h2>
					<p data-localize="chambrebastilleprix">1er étage - de 140€ à 180€</p>
				</header>

				<div class="slideshow-bastille slideshow">
					<img data-lazy="/images/photogallery/bastille/image1.jpg" />
					<img data-lazy="/images/photogallery/bastille/image2.jpg" />
					<img data-lazy="/images/photogallery/bastille/image3.jpg" />
					<img data-lazy="/images/photogallery/bastille/image4.jpg" />
					<img data-lazy="/images/photogallery/bastille/image5.jpg" />
					<img data-lazy="/images/photogallery/bastille/image6.jpg" />
					<img data-lazy="/images/photogallery/bastille/image7.jpg" />
					<img data-lazy="/images/photogallery/bastille/image8.jpg" />
					<img data-lazy="/images/photogallery/bastille/image9.jpg" />
					<img data-lazy="/images/photogallery/bastille/image10.jpg" />
					<img data-lazy="/images/photogallery/bastille/image11.jpg" />
					<img data-lazy="/images/photogallery/bastille/image12.jpg" />
					<img data-lazy="/images/photogallery/bastille/image13.jpg" />
					<img data-lazy="/images/photogallery/bastille/image14.jpg" />
					<img data-lazy="/images/photogallery/bastille/image15.jpg" />
				</div>

			</article>
			<br /><br />

			<article>
				<header>
					<h2>Opera</h2>
					<p data-localize="chambreoperaprix">Rez de chaussée - de 130€ à 170€</p>
				</header>

				<div class="slideshow-opera slideshow">
					<img data-lazy="/images/photogallery/opera/image1.jpg" />
					<img data-lazy="/images/photogallery/opera/image2.jpg" />
					<img data-lazy="/images/photogallery/opera/image3.jpg" />
					<img data-lazy="/images/photogallery/opera/image4.jpg" />
					<img data-lazy="/images/photogallery/opera/image5.jpg" />
					<img data-lazy="/images/photogallery/opera/image6.jpg" />
					<img data-lazy="/images/photogallery/opera/image7.jpg" />
					<img data-lazy="/images/photogallery/opera/image8.jpg" />
					<img data-lazy="/images/photogallery/opera/image9.jpg" />
					<img data-lazy="/images/photogallery/opera/image10.jpg" />
					<img data-lazy="/images/photogallery/opera/image11.jpg" />
					<img data-lazy="/images/photogallery/opera/image12.jpg" />
					<img data-lazy="/images/photogallery/opera/image13.jpg" />
					<img data-lazy="/images/photogallery/opera/image14.jpg" />
					<img data-lazy="/images/photogallery/opera/image15.jpg" />
				</div>

			</article>
			<br /><br />

			<article>
				<header>
					<h2>Petit Opera</h2>
					<p data-localize="chambrepetitoperaprix">Rez de chaussée - de 100€ à 140€</p>
				</header>

				<div class="slideshow-petit-opera slideshow">
					<img data-lazy="/images/photogallery/petit-opera/image1.jpg" />
					<img data-lazy="/images/photogallery/petit-opera/image2.jpg" />
					<img data-lazy="/images/photogallery/petit-opera/image3.jpg" />
					<img data-lazy="/images/photogallery/petit-opera/image4.jpg" />
					<img data-lazy="/images/photogallery/petit-opera/image5.jpg" />
					<img data-lazy="/images/photogallery/petit-opera/image6.jpg" />
					<img data-lazy="/images/photogallery/petit-opera/image7.jpg" />
					<img data-lazy="/images/photogallery/petit-opera/image8.jpg" />
					<img data-lazy="/images/photogallery/petit-opera/image9.jpg" />
					<img data-lazy="/images/photogallery/petit-opera/image10.jpg" />
				</div>

			</article>
			<br /><br />

			<article>
				<header>
					<h2 data-localize="nosprix">Nos Prix & Récompenses</h2>
					<p data-localize="citespar">Cités par:</p>
				</header>

				<div class="slideshow-certificats slideshow">
					<img data-lazy="/images/photogallery/awards/image2.jpg" />
					<img data-lazy="/images/photogallery/awards/image1.jpg" />
					<img data-lazy="/images/photogallery/awards/image3.jpg" />
					<img data-lazy="/images/photogallery/awards/image4.jpg" />
					<img data-lazy="/images/photogallery/awards/image5.jpg" />
					<img data-lazy="/images/photogallery/awards/image6.jpg" />
					<img data-lazy="/images/photogallery/awards/image7.jpg" />
					<img data-lazy="/images/photogallery/awards/image8.jpg" />
					<img data-lazy="/images/photogallery/awards/image9.jpg" />
				</div>

			</article>
			<br /><br />


		</div>


	</div>
</section>
