---
layout: default
---
{% assign lang = page.lang | default: 'fr' %}
{% assign i18n = site.data.i18n[lang] %}
<section class="wrapper style1" style="overflow:hidden;">
	<div class="container">
		<div id="content">

			<!-- Content -->

			<article>
				<header>
					<h2>La Villa Paris</h2>
					<p>{{ i18n.overview }}</p>
				</header>
				{% include gallery.html folder="la-villa-paris" alt="La Villa Paris" %}
			</article>
			<br /><br />

			<article>
				<header>
					<h2>Champs Elysees</h2>
					<p>{{ i18n.chambreceprix }}</p>
				</header>
				{% include gallery.html folder="champs-elysees" alt="Champs Elysees" %}
			</article>
			<br /><br />

			<article>
				<header>
					<h2>Concorde</h2>
					<p>{{ i18n.chambreconcordeprix }}</p>
				</header>
				{% include gallery.html folder="concorde" alt="Concorde" %}
			</article>
			<br /><br />

			<article>
				<header>
					<h2>Bastille</h2>
					<p>{{ i18n.chambrebastilleprix }}</p>
				</header>
				{% include gallery.html folder="bastille" alt="Bastille" %}
			</article>
			<br /><br />

			<article>
				<header>
					<h2>Opera</h2>
					<p>{{ i18n.chambreoperaprix }}</p>
				</header>
				{% include gallery.html folder="opera" alt="Opera" %}
			</article>
			<br /><br />

			<article>
				<header>
					<h2>Petit Opera</h2>
					<p>{{ i18n.chambrepetitoperaprix }}</p>
				</header>
				{% include gallery.html folder="petit-opera" alt="Petit Opera" %}
			</article>
			<br /><br />

			<article>
				<header>
					<h2>{{ i18n.nosprix }}</h2>
					<p>{{ i18n.citespar }}</p>
				</header>
				{% include gallery.html folder="awards" alt="Awards" w="800" h="508" %}
			</article>
			<br /><br />

		</div>
	</div>
</section>
