---
layout: default
---
{% assign lang = page.lang | default: 'fr' %}
{% assign i18n = site.data.i18n[lang] %}
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->
            <header>
                <h2>{{ i18n.reservation }}</h2>
                <p>{{ i18n.reservationdesc }}</p>
            </header>

            <!-- La hauteur par palier d'écran est gérée en CSS (voir #bed24 dans layout.css) -->
            <iframe id="bed24" title="Reservation La Villa Paris"
                src="//www.beds24.com/booking2.php?propid=14504&numdisplayed=5&numnight=1&numadult=2-1&referer=iframe"
                width="100%" height="2400">
                <p><a href="//www.beds24.com/booking2.php?propid=14504&referer=iframe" title="Book Now">Book
                        Now</a></p>
            </iframe>
        </div>
    </div>
</section>
